# Meta App Configuration
META_APP_ID=your_app_id_here
META_APP_SECRET=your_app_secret_here
META_REDIRECT_URI=https://piyush-meta-ads-tracker.vercel.com/meta/auth/callback

# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/meta-ads-tracker?retryWrites=true&w=majority
